p:hover {
    font-size: 20px;
    color: brown;

}


p:active{
    color: blue;
}

a:visited {
    color: rgb(54, 216, 108);
}

a:focus {
    background: blueviolet;
}


li:last-child {
    color: blueviolet;
}
li:nth-child(3){
    color: brown;
    
}
li:not(.item){
    font-size: 40px;

}
li:first-child {
    color: rgb(26, 179, 206);
}